<h2>test_message = {test_message}</h2>

<!--
<div class="card col " style="border-radius:6px;border-top: 6px solid {color};"><div class="card-body">
                        <div style='display:flex;justify-content:space-between'">
                            <h6 class="card-title mb-4" style="font-size: 14px;">State:{k1[0][0]}</h6>
                            <h6 class="card-title mb-1" style="font-size: 14px;color: {color}">{risk}<br></h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" >MECHANISM</th>
                                    <th scope="col">%</th>
                                    <th scope="col">INCIDENTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>{k1[0][6]}</td>
                                    <td>{k1[0][8]}</td>
                                    <td >{k1[0][10]}</td>

                                </tr>
                                <tr>

                                    <td >{k1[0][7]}</td>
                                    <td >{k1[0][9]}</td>
                                    <td >{k1[0][11]}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="mb-0" style="font-size: 11px;">
                            FORECAST ACCURACY +-10%
                    </p>
                    <p class="mb-0" style="font-size: 9px;">
                            updated on {k1[0][12]}
                    </p>
                </div>
            </div>          
--!>