<h2>test_message = {{test_message}}</h2>

<!--
    <div class="card col " style="border-radius:6px;border-top: 6px solid {color};">
    <div class="card-body">
        <div style='display:flex;justify-content:space-between'">
            <h6 class="card-title mb-4" style="font-size: 14px;">tmp</h6>
            <h6 class="card-title mb-1" style="font-size: 14px;color: {color}">tmp<br></h6>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
            <thead>
                <tr>
                    <th scope="col" >MECHANISM</th>
                    <th scope="col">%</th>
                    <th scope="col">INCIDENTS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{properties}</td>
                    <td>tmp</td>
                    <td>tmp</td>
                </tr>
                <tr>
                    <td>tmp</td>
                    <td>tmp</td>
                    <td>tmp</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p class="mb-0" style="font-size: 11px;">
            FORECAST ACCURACY +-10%
    </p>

    <p class="mb-0" style="font-size: 9px;">
            updated on TK
    </p>
    </div>
</div>           
-->